{
  "openapi": "3.0.3",
  "info": {
    "title": "IngestSQL API",
    "description": "An API service that fetches SQL query results from DORM (Durable Object Relational Mapper) and converts them to multipart/form-data streams with various filtering and templating options.",
    "version": "1.0.0",
    "contact": {
      "name": "UIThub",
      "url": "https://ingestsql.uithub.com"
    }
  },
  "servers": [
    {
      "url": "https://ingestsql.uithub.com",
      "description": "Production server"
    }
  ],
  "paths": {
    "/{sqlUrl}": {
      "get": {
        "summary": "Fetch and process SQL query results",
        "description": "Fetches SQL query results from a DORM API endpoint, processes the contents using templates, and returns a multipart/form-data stream with the filtered files.",
        "parameters": [
          {
            "name": "sqlUrl",
            "in": "path",
            "description": "URL-encoded path to the SQL query endpoint (DORM API GET /query/raw/QUERY)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "omitFirstSegment",
            "in": "query",
            "description": "Remove the first segment from file paths in the output",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "omitBinary",
            "in": "query",
            "description": "Skip binary files in the output",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "enableFuzzyMatching",
            "in": "query",
            "description": "Enable fuzzy matching for path patterns",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "rawUrlPrefix",
            "in": "query",
            "description": "Prefix to use for raw URLs for binary files (if set, binary files are referenced by URL instead of including content)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "basePath",
            "in": "query",
            "description": "Base path(s) to filter files by. Only files under these paths will be included",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "pathPatterns",
            "in": "query",
            "description": "Glob pattern(s) to include files matching these patterns. Supports picomatch syntax",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "excludePathPatterns",
            "in": "query",
            "description": "Glob pattern(s) to exclude files matching these patterns. Supports picomatch syntax",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "maxFileSize",
            "in": "query",
            "description": "Maximum file size in bytes to include",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "itemTemplate",
            "in": "query",
            "description": "Template string for generating file paths from row data. Use {property} syntax to reference columns by name and {index} for row number.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": true,
            "example": ["/records/{id}/record.json", "/items/item_{index}.json"]
          },
          {
            "name": "columnTemplate",
            "in": "query",
            "description": "Template string for generating file paths from individual column values. Format is 'columnName:pathTemplate'.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": true,
            "example": ["name:/names/{id}.txt", "avatar:/avatars/{id}.png"]
          }
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "SQL data successfully processed and streamed",
            "content": {
              "multipart/form-data": {
                "schema": {
                  "type": "object"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request, missing SQL URL",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized, authentication required",
            "headers": {
              "WWW-Authenticate": {
                "schema": {
                  "type": "string",
                  "example": "Basic realm=\"SQL Access\""
                }
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Server error processing the SQL data",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "Basic authentication with credentials"
      }
    },
    "headers": {
      "x-source-authorization": {
        "description": "Optional authorization header to forward to the SQL source",
        "schema": {
          "type": "string"
        }
      }
    },
    "schemas": {
      "FormDataFile": {
        "type": "object",
        "properties": {
          "content": {
            "type": "string",
            "format": "binary",
            "description": "File content"
          },
          "x-file-hash": {
            "type": "string",
            "description": "SHA-256 hash of the file content"
          },
          "x-url": {
            "type": "string",
            "description": "URL to access the raw file (only present for binary files when rawUrlPrefix is provided or for URL column values)"
          },
          "x-filter": {
            "type": "string",
            "description": "Filter information if the file was filtered out but still included in the response"
          }
        }
      },
      "StreamRecord": {
        "oneOf": [
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": ["columns"],
                "description": "Indicates this record contains column names"
              },
              "data": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Array of column names"
              }
            },
            "required": ["type", "data"]
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": ["row"],
                "description": "Indicates this record contains a single row of data"
              },
              "data": {
                "type": "array",
                "items": {},
                "description": "Array of values in the row"
              }
            },
            "required": ["type", "data"]
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": ["meta"],
                "description": "Indicates this record contains metadata about the query"
              },
              "data": {
                "type": "object",
                "properties": {
                  "rows_read": {
                    "type": "integer",
                    "description": "Number of rows read by the query"
                  },
                  "rows_written": {
                    "type": "integer",
                    "description": "Number of rows written by the query"
                  }
                },
                "required": ["rows_read", "rows_written"]
              }
            },
            "required": ["type", "data"]
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": ["error"],
                "description": "Indicates an error occurred during streaming"
              },
              "error": {
                "type": "string",
                "description": "Error message"
              }
            },
            "required": ["type", "error"]
          }
        ]
      }
    }
  },
  "tags": [
    {
      "name": "SQL Processing",
      "description": "Operations related to fetching and processing SQL query results"
    }
  ]
}
